name: Build
on:
  pull_request:
  workflow_call:

# Stops the workflow run if the PR is updated
# https://stackoverflow.com/a/72408109
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: lts/krypton
          cache: 'npm'
      - run: npm ci --prefer-offline --no-audit
      - run: npm run lint:format
      - run: npm run build
      - uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
